{% load humanize %}

<a class="grid-item mb-9" style="width: 49%;" href="{% url "salons:concept_detail" concept.pk %}">
    <img src="{{concept.first_photo.url}}" alt="image" style="border-radius: 18px;">

    <div class="flex ml-1" style="margin-top: 0.3rem;">
        <div class="flex flex-wrap items-end ml-1" style="">
            <p  style="font-size: 0.7rem; bg-gray-200; height: 0.8rem;" class="text-blue-600">
                {{concept.salon.location}} {{concept.salon.location_dong}}&nbsp;
            </p>
            <p style="font-size: 0.7rem; font-weight:400; height:0.8rem;" class="text-gray-600" >
                {{concept.salon}}
            </p>
            
        </div>
    </div>
    
    <div class="px-2" style="margin-top: 0.2rem; height:0.95rem;">
        <div class="flex flex-wrap justify-between text-gray-700" style="font-size: 0.7rem; font-weight:400;">
            <div>
                {{concept}}&nbsp;&nbsp;
            </div>
            <div class="">
                <span>₩{{concept.price|intcomma}}~</span>
            </div>
        </div>
    </div>

    
</a>