{% extends "base.html" %}

{% block page_title %}
    컨셉 사진
{% endblock page_title %}

{% block search-bar %}
    <div class="font-semibold text-sm">{{concept}} 사진</div>
{% endblock search-bar %}

{% block content %}

<div class="mx-auto flex flex-col items-center overflow-auto mobile:mb-10">
    <div class="mt-4 w-600px small:w-full mx-auto flex flex-col items-center justify-center border rounded-md p-6 px-16 pb-10 bg-white border-gray-400 mobile:border-none">
            
        <div class="mb-4 w-full flex items-center justify-between">
            <a href="{% url 'concepts:edit' concept.pk %}">
                <div class="border border-gray-400 rounded-md text-center text-xs font-semibold py-1 px-6">사진편집 완료</div>
            </a>
            <a href="{% url 'concepts:add-photo' concept.pk %}">
                <div class="border rounded-md text-center text-xs text-white py-1 px-6 bg-blue-500">사진 추가</div>
            </a>
        </div>

        <div class="flex flex-col items-center w-64">
        {% for photo in concept.photos.all  %}
            <div class="mb-5 p-3">
                <img src="{{photo.file.url}}" class="w-full mb-1" />
                <div class=" flex justify-end">
                    <a class="border rounded-md text-center text-xs text-white px-5 py-1 bg-red-500" href="{%url "concepts:delete-photo" concept.pk photo.pk%}">삭제</a>
                </div>
            </div>
        {% endfor %}
        </div>
          

    </div>
</div>

{% endblock content %} 