{% extends "base.html" %}


{%block page_title%}
    컨셉 선택

{%endblock page_title%}

{% block search-bar %}
    <div class="font-semibold text-sm">컨셉 선택</div>
{% endblock search-bar %}

{%block content%}
<div class="mx-auto flex flex-col items-center overflow-auto mobile:mb-10">
    <div class="mt-4 w-600px mobile:w-full mx-auto flex flex-col items-center justify-center border rounded-md p-6 pb-10 bg-white border-gray-400 mobile:border-none">
        
        {% for concept in studio.concepts.all %}
                     
                <div class="w-full mb-10">
                    <div class= "{{h_and_w|default:"h-64 w-64"}} rounded-3xl bg-cover bg-center" style="background-image: url({{concept.first_photo}});"></div>
                
                </div>

                
        {% endfor %}
        
    </div>
</div>
{%endblock content%}