@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next {
    background: url(/static/img/chevron-circle-right-solid.svg) no-repeat;
    background-position: center;
    opacity: 0.9;
    outline: none;
}

.swiper-button-prev {
    background: url(/static/img/chevron-circle-left-solid.svg) no-repeat;
    background-position: center;
    opacity: 0.9;
    outline: none;
}

.swiper-container {
    z-index: 0 !important;
}

/*
@media (max-width: 450px) {
    .swiper-button-next {
      display: none !important;
    }
    .swiper-button-prev {
        display: none !important;
      }
  } 
*/


.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}


.swiper-container-horizontal>.swiper-pagination-fraction {
    margin: 0 0 0 0;
    font-size: small;
    color:white;
    width: 50px !important;
    background-color: gray;
    border-radius: 25px;
    top: 10px !important;
    right: 10px !important;
    bottom: unset !important;
    left: unset !important;
    opacity: 0.8;
    padding: 4px 0 6px 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {
    .swiper-container-horizontal>.swiper-pagination {
        font-size: 12px;
        width: 35px!important;
        padding: 2px 0 4px;
    }
} 

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 0 !important;
}



.input-field{
    @apply font-medium text-xs text-gray-900 bg-gray-100 w-full h-full;
    &:focus {
      @apply outline-none;
    }
}

.studio-input-field{
    @apply font-medium text-gray-900 bg-gray-100 w-full h-full;
    &:focus {
      @apply outline-none;
    }
}

.input-click:focus-within {
    border-color: #90cdf4;
}


.hidden {
    display: none;
}


#profile-description 
.show-more-height { 
    height: 30px; 
    overflow:hidden; 
}