<form method="POST" class="w-full" enctype="multipart/form-data">
    {%csrf_token%}

    
    {% if form.non_field_errors %}
        
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span>
        {% endfor %}
                
    {% endif %}
    

    {% for field in form %}
        <div class="mb-1 ml-1 text-xs font-semibold">
            {{field.label}}
        </div>
        {% include "mixins/studio/studio_input.html" with field=field %} 
       
    {% endfor %}
    

    <button class=" bg-red-500 text-white">{{cta}}</button>        


</form>