
{% comment %} <div class="mt-4 w-600px small:w-full border border-gray-400 mobile:bg-white rounded-lg bg-white small:border-none small:bg-gray-100 "> {% endcomment %}
    <div class="flex items-center justify-between h-16 mobile:h-14 px-4">
        <div class="flex items-center">
            <a href="{% url 'studios:profile' studio.pk%}">
                {% include "mixins/studio/studio_avatar.html" with studio=studio %}
            </a>
            <a href="{% url 'studios:profile' studio.pk%}">
                <div class="mx-3 font-semibold text-sm" style="color:#1a202c;" >{{studio}}</div>
            </a>
        </div>
        <div class="flex items-center py-2">
            <p class="ml-1 font-semibold text-sm text-blue-500">예약하기</p>
        </div>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
        
            <div class="img_like swiper-slide" name="{{ studio.pk }}" >
                <img src="{{studio.studio_best_photo.url}}" style="width: 100%;">
            </div>
            
            {% for concept in studio.concepts.all %}
                <div class="img_like swiper-slide" name="{{ studio.pk }}" >
                    <img src="{{concept.first_photo}}" style="width: 100%;">
                </div>
            {% endfor %}
        
        </div>
        <div class="swiper-pagination"></div> <!--swiper-container의 맨 밑에다가 놓는다.-->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
              
    </div>
    
    <div class="overflow-auto mt-0.5 mx-4 mb-6 small:mb-0">

            <button class="like focus:border-none focus:outline-none" name="{{ studio.pk }}" value="Like">
                <div class="h-8 pt-2 border-none flex items-center justify-between ">
                    <div class="flex items-center" style="font-size: 0.5rem; color:#fe629f;">
                        {% if studio.pk in check_exist%}
                            <i id="check-{{studio.pk}}" class="fas fa-heart fa-3x"></i>
                        {% else %}
                            <i id="check-{{studio.pk}}" class="far fa-heart fa-3x"></i>   
                        {% endif %}
                    </div>
                </div>
            </button>
            
            <p id="count-{{ studio.pk }}" class="font-extrabold mt-1 mb-2 text-sm">
                좋아요&nbsp;{{ studio.likes_user.all.count }}개
            </p>

            <div class="overflow-auto mt-0.5 mb-6 small:mb-0">
                <div class="font-semibold text-sm mb-1" style="color:#1a202c;" >{{studio}}</div>
                <div class=" text-sm" style="color:#1a202c;" >{{studio.introduction | linebreaksbr}}</div>
            </div> 
    </div>

{% comment %} </div> {% endcomment %}


