    <div class="flex items-center justify-between mt-4 mb-2 px-1">
        <a href="{% url "concepts:detail" concept.pk %}" class="flex items-center ">
            <div class="" style="color:#1a202c; font-size: 0.95rem; font-weight:600;" >{{concept}}</div>
        </a>
        <a href="{% url "concepts:detail" concept.pk %}" class="flex items-center">
            <p class="text-blue-400 hover:text-blue-600" style="font-size: 0.8rem; font-weight:500;"> 컨셉 선택 <i class="fas fa-chevron-circle-right"></i> </p>
        </a>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for photo in concept.all_photo %}
            <div class="swiper-slide">
                <img src="{{photo.file.url}}" style="width: 100%;" class="rounded-lg">
            </div>
            {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
       
        
    </div>

