{% load static %}
<!DOCTYPE html>
<html lang="en,kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/css/swiper.min.css">
    <link rel="shortcut icon" sizes="16x16 32x32 64x64" href="{%static 'img/rev_포즐리로고.png' %}" />

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js"></script>



    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <!--
    <script type="text/javascript" src="/static/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jscroll.min.js"></script>
    -->

    <!-- 지도붙이는 곳  -->
    <!--map-->
    <!--다음 지도 -->
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=23d2aa082e0ceb6f973d03ae4b43b192&libraries=services"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!--네이버 지도-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=iqj2g6f0df"></script>

    <title>포즐리 {% block page_title %}{% endblock page_title %}</title>
    <meta property="og:image" content="https://posely-bucket.s3.ap-northeast-2.amazonaws.com/static/img/rev_포즐리로고_share.png">
    <meta property="og:title" content="포즐리">
    <meta property="og:description" content="반려동물의 가장 사랑스러운 순간">
    
    <!--구글폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    
    <!--GA-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-28S5CRDF0J"></script>

    <style>
      html {
        font-family: 'Noto Sans KR', sans-serif !important;
        font-size: 16px;
      }
      
      @media (max-width:300px) {
        html{ font-size: 12px;}
        p{ font-size: 8px;}  
      }

      @media (min-width:300px) {
        html{ font-size: 14px;}  
      }

      @media (min-width:360px) {
        html{ font-size: 16px;}  
      }

      @media (min-width:600px) {
        html{ font-size: 18px;}  
      }
          
      </style>


</head>
<body class="mt-14 mb-4 bg-white mobile:mt-8 ">

{% block nav-bar %}
<header style="z-index: 9999;" class="container max-w-full inset-0 flex justify-center h-14 mobile:h-12 border-b mobile:border-none border-gray-400 fixed bg-white">
        <div class="flex items-center justify-center w-600px small:px-0 relative">

                <a class="logo flex items-center absolute" style="left: 14px;" href="{% url "core:photo_home" %}">
                  <img style="width: 1.5rem;" src="{%static 'img/posely_logo2.svg' %}" />
                  {% block logo_name %}
                  <img style="width: 5rem;" src="{%static 'img/포즐리로고05.svg' %}" class="ml-1"/>
                  {% endblock logo_name %}   
                </a>

                {% block search-bar %}
                <form class="search_bar hidden fade-in-box flex items-center" method="get" action="{% url "studios:photo_studio_search" %}">
                  <div class="border rounded-lg flex items-center justify-center">
                    <div class="flex items-center">
                      <div class="w-5 ml-3 mr-2"><img src="https://img.icons8.com/fluency-systems-filled/100/888888/search.png"/></div>
                      <input class="text-sm text-gray-900 placeholder-gray-500 py-1 rounded-md focus:outline-none" style="width:10rem" name="search_name_address2" placeholder="사진관 이름, 지역 검색" />
                      <div class="w-5 ml-3 mr-2 cancel_button"><img src="https://img.icons8.com/fluency-systems-filled/100/bbbbbb/cancel.png"/></div>
                    </div>
                  </div>
                </form>
                {% endblock search-bar %}
                
                <!--{% include "partials/nav.html" %}-->
                {% block search-icons %}
                <header class="flex items-center absolute right-0">
                      <button style="width: 1.5rem;" type="button" class="search_button focus:outline-none mx-4"><img src="https://img.icons8.com/fluency-systems-filled/100/777777/search.png"/></button>
                </header>
                {% endblock search-icons %}
        </div>
  </header> 
  {% endblock nav-bar %}

  {% block content %}    
  {% endblock content%}
  
  <!--{% include "partials/footer.html" %}-->

  <script>
    
    //swiper options    
    var options={
        autoHeight: true,
        pagination: {
          el: '.swiper-pagination',
          type: "fraction"
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        /*
        lazy : {
          loadPrevNext : true, // 이전, 다음 이미지는 미리 로딩
          loadPrevNextAmount : 2,
        },
        */
        allowTouchMove: true,

    }

    var swiper = new Swiper('.swiper-container', options);
    
    function renewswiper(){ 
      var num = $('.swiper_distinction').last().attr('name')
      console.log("new swiper num:"+num)
      new Swiper(".swiper_dis_"+num,options) 
    }

    //inifinite scroll
    $(document).ready(function () { 
      var list = $('.book-list');
          list.jscroll({
              loadingHtml: '<div class="flex justify-center mt-3">' +
                '<img src="{% static 'img/loading4.gif' %}" alt="Loading" />' +
                '</div>',
              padding: 1000,
              pagingSelector: '.pagination',
              nextSelector: 'a.next-page:last',
              contentSelector: '.card,.pagination',
              callback: renewswiper,
          });
    });

    function TextReadMore(){
      var pk = $(this).attr('name')

      if($(".text-"+pk).hasClass("show-more-height")) {
            $(this).text("");
        }
        $(".text-"+pk).toggleClass("show-more-height");
    }
    
    $(document).on("click",".show-more",TextReadMore) 

    //돋보기 버튼
    const searchButton = document.querySelector(".search_button");
    const searchBar = document.querySelector(".search_bar");
    const cancelButton = document.querySelector(".cancel_button");
    const logo = document.querySelector(".logo");
    const openSearchBar = () => {
        searchBar.classList.remove("hidden");
        searchBar.classList.add("fade-in-box");
        searchButton.classList.toggle("hidden");
        logo.classList.toggle("hidden");
    }
    const cancelSearchBar = () => {
      searchBar.classList.add("hidden");
      searchButton.classList.toggle("hidden");
      logo.classList.toggle("hidden");
    }

    searchButton.addEventListener("click", openSearchBar)
    cancelButton.addEventListener("click", cancelSearchBar)


    //map_maker_btn
    $("#distance_sort_btn").click((request)=>{
        console.log("kkkk")   
        if($("#distance_sort_btn").hasClass("NOT_DISTANCE")){
              console.log("mmmm")
              if('geolocation' in navigator){
                      navigator.geolocation.getCurrentPosition(function(position,request){ //position에 위도와 경도같은 정보가 담김 
                      var lat1 = position.coords.latitude;
                      var lng1 = position.coords.longitude;
                      sessionStorage.setItem("lat",lat1);
                      sessionStorage.setItem("lng",lng1);
                      location.href="/studios/distance/?lat="+lat1+"&lng="+lng1
                  }
              )}
          }
        else{
          var url="{% url 'core:photo_home' %}"
              window.location.href = url 
        }
    })

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-28S5CRDF0J');

</script>
    
</body>
</html>