{% load static %}
<!DOCTYPE html>
<html lang="en,kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>{% block page_title %}{% endblock page_title %} | Posely</title>
</head>
<body class="mt-14 mb-14 bg-gray-100 mobile:bg-white mobile:mt-32px ">
    <header class="z-10 container max-w-full inset-0 flex justify-center px-4 mobile:pb-px h-14 mobile:h-12 border-b  border-gray-400 fixed bg-white">
        <div class="flex items-center justify-between w-600px px-2 small:px-0">
            
                <a href="{% url "core:home" %}">
                    <img class="w-8 rounded-md mobile:w-7" src="{%static 'img/logo.png' %}" />
                </a>

                {% block search-bar %}
                <form class="flex items-center" method="get" action="{% url "studios:search" %}">
                  <div class="border px-6 flex items-center bg-gray-100">
                    <div style="color:#a0aec0; margin: 0 6px 0 6px; "><i class="fas fa-search fa-sm"></div></i> 
                    <input class=" font-medium text-xs mobile:text-xxs  text-gray-900 bg-gray-100 placeholder-gray-500 py-1 mobile:py-1 rounded-md w-72 focus:outline-none " name="search_name_address" placeholder="사진관 지역, 이름 검색" />
                  </div>
                </form>
                {% endblock search-bar %}


                {% include "partials/nav.html" %}
        </div>
    </header> 
    
    {% block content %}
        
    {% endblock content%}
    
    {% include "partials/footer.html" %}


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
  
      var swiper = new Swiper('.swiper-container', {
        autoHeight: true,
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    </script>
    
</body>
</html>