{% extends "base.html" %}
{% load humanize %}

{%block page_title%}반려동물 사진관 예약하기{%endblock page_title%}


{% block content %}

<style>
    .wrap {
        overflow-x:scroll;
        white-space: nowrap;
        -ms-overflow-style: none;
    }
    .wrap::-webkit-scrollbar{ 
        display:none; 
    }


    .wrap button {
        display:inline-block;
        list-style:none;
    }

    .wrap a {
        display:inline-block;
        list-style:none;
    }

    .on{
        background-color: rgb(128, 185, 255);
        color: white;
        border: none;
        padding: 7px 8px;
        font-weight: 500;
    }

    .clicked {
        color: gold;
      }

    .wrap button:focus {
        outline: 0;
    }

</style>

   
<div class="container mx-auto flex flex-col items-center overflow-auto mt-14 mobile:mt-12 mb-10 mobile:mb-10">
    <div class="bg-red-200 h-14 w-600px small:w-full">
        
        {% if request.GET.photo_filter == "감동" %}
            hello
        {% endif %}
            
        
        {{request.GET.photo_filter}}
    </div>
    <div class="h-12 my-1 w-600px small:w-full">
        <form id="scroll" class="wrap px-2 py-1 text-gray-800" style="font-weight: 400;"  method="get" action="{% url "core:photo_filter" %}">
            {% include "mixins/photo/photo_filter_button.html"%}
        </form>
    </div>
    <div class="w-600px small:w-full " style="padding-left: 6px; padding-right: 6px;"> 
        <div class ="grid opacity-0" style="width: 100%;">
                <div class="grid__col-sizer" style="width: 49%"></div>
                <div class="grid__gutter-sizer" style="width: 2%"></div>
                {% for photo in photos %}
                <a class="grid-item mb-9 mobile:mb-7" style="width: 49%;" href="{% url "concepts:detail" photo.concept.pk %}">
                    <img src="{{photo.file.url}}" alt="image" style="border-radius: 18px;">
                    <div class="px-2 " style="margin-top: 0.3rem">
                        <div class="flex flex-wrap items-end" style="font-size: 0.75rem; font-weight:500;">
                            <p class="mr-1 text-blue-600 " style="">
                                {{photo.studio.location}}
                            </p>
                            <p class="text-gray-600">
                                {{photo.studio}}
                            </p>
                        </div>
                        <div style="font-size: 0.7rem; font-weight: 400;" class=" text-blue-400 flex" >
                            {% for a in photo.studio.studio_badge.all %}
                            {% if a.pk == 2 %}
                                #프로
                            {% endif %}
                            {% if a.pk == 3 %}
                                #슈퍼루키
                            {% endif %}
                            {% if a.pk == 4 %}
                                #펫마스터
                            {% endif %}
                            {% if a.pk == 5 %}
                                #맞춤형
                            {% endif %}
                            {% if a.pk == 6 %}
                                #친절한
                            {% endif %}
                            {% if a.pk == 7 %}
                                #쾌적한
                            {% endif %}
                            {% if a.pk == 8 %}
                                #꼼꼼한
                            {% endif %}
                            {% if a.pk == 9 %}
                                #다양한
                            {% endif %}
                            {% if a.pk == 10 %}
                                #제휴가능
                            {% endif %}
                        {% endfor %}    
                        </div>
                        <div style=" font-size: 0.75rem;  font-weight:500;" class="text-gray-600 flex" >
                            <p class=>
                                {{photo.concept}}
                            </p>
                            <p class=>
                                &nbsp;&nbsp;₩{{photo.concept.price|intcomma}}
                            </p>
                        </div>

                    </div>
                </a>
                {% endfor %}
                

                {% if page_obj.has_next %}
                <p class="pagination1">
                    <a class="next-page2" href="?page={{ page_obj.next_page_number }}"></a>
                </p>
                {% endif %}

        </div>
    </div>
</div>

<!--<button type="button" onclick="$('html').animate({scrollTop:0}, 500)">위로이동</button>-->
<!--여기가 하단 메뉴바-->
<div class="fixed bottom-0 left-0 w-full flex justify-center items-end border-t" style="z-index: 9999;">
    <div class="relative flex justify-center top-0 bg-white w-600px ">
        <div class="flex justify-between h-full w-full py-1 mobile:pb-0 px-3" style="">
            <div style="width: 33.333%;">
                <a class=" flex flex-col items-center" href="{% url "core:photo_home" %}">
                    <!--<img class="w-6" src="https://img.icons8.com/fluency-systems-regular/100/888888/home.png"/>-->
                    <img class="w-6" src="https://img.icons8.com/fluency-systems-filled/100/FE82B1/home.png"/>
                    <p style="font-size: 10px; color:#FE82B1">홈</p>
                </a>
            </div>
            <div style="width: 33.333%;">
                <a class=" flex flex-col items-center NOT_DISTANCE" id="distance_sort_btn" style="cursor: pointer;">
                    <img class="w-6" src="https://img.icons8.com/fluency-systems-regular/100/888888/marker--v1.png"/>
                    <p style="font-size: 10px; color:#666666">근처사진관</p>
                </a>
            </div>
                {% if user.is_authenticated %}
                    <div style="width: 33.333%;" >
                        <a class="flex flex-col items-center" href="{{user.get_absolute_url}}">
                            <img class="w-6" src="https://img.icons8.com/fluency-systems-regular/100/888888/user.png"/>
                            <p style="font-size: 10px; color:#666666">프로필</p>
                        </a>
                    </div>
                          
                {% else %}
                    <div style="width: 33.333%;" >
                        <a class="flex flex-col items-center" href="{% url "users:login"%}">
                            <img class="w-6" src="https://img.icons8.com/fluency-systems-regular/100/888888/user.png"/>
                            <p style="font-size: 10px; color:#666666">로그인</p>
                        </a>
                    </div> 
                {% endif %}
        </div>
    </div>
</div>
<a style="display: none;" href="https://icons8.com/icon/i6fZC6wuprSu/home">Home icon by Icons8</a>
<script>
    
    var $grid = $('.grid').isotope({
    // options
    itemSelector: 'none',
    masonry:{
        columnWidth: '.grid__col-sizer',
        gutter: '.grid__gutter-sizer',
    },
    percentPosition: true,
    stagger: 30,
    });
    // get Masonry instance

    // initial items reveal
    $grid.imagesLoaded( function() {
        console.log("2222222222222");
        $grid.removeClass('opacity-0');
        $grid.isotope( 'option', { itemSelector: '.grid-item' });
        var $items = $grid.find('.grid-item');
        
        $grid.isotope( 'appended', $items );
    });

    var iso = $grid.data('isotope');

    //inifinite scroll
    var $grid2 = $('.grid').infiniteScroll({
        path: '.next-page2',
        append: '.grid-item',
        outlayer: iso,
      });

      var infScroll = $grid2.data('infiniteScroll');

      $grid2.on( 'load.infiniteScroll', function() {
        console.log("111111111111");
      });
    


      //좌우 스크롤
    $.fn.hasScrollBar = function() {
        return (this.prop("scrollWidth") == 0 && this.prop("clientWidth") == 0)
                || (this.prop("scrollWidth") > this.prop("clientWidth"));
    }; // 좌우 스크롤이 있는지 없는지 여부 검사

    function wheel(name){
    $(name).on('mousewheel',function(e){
        var hasScroll = $(this).hasScrollBar();
        if(!hasScroll){ //스크롤이 없으면 그냥 일반 스크롤
        }else{ //있으면 아래 스크롤 받는값을 없애고 좌우스크롤
            e.preventDefault(); 
            var wheelDelta = e.originalEvent.wheelDelta;
            if(wheelDelta > 0){
                $(this).scrollLeft(-wheelDelta + $(this).scrollLeft());
            }else{
                $(this).scrollLeft(-wheelDelta + $(this).scrollLeft());
            }
        }
    });
    }
    $(function(){
        wheel('#scroll');
    });

</script>

{% endblock content %}


