{% extends 'base.html' %}


{% block page_title %}로그인{% endblock page_title %}

{% block nav-bar %}
{% endblock nav-bar %}

{% block content %}
   <!-- {% include 'partials/social_login.html' %} MVP에는 안넣어도 됨 -->
   <div class="container w-350px mobile:w-full mx-auto flex flex-col items-center justify-center border p-6 bg-white border-gray-400 mobile:border-none">
        {% include "mixins/auth/auth_form.html" with form=form cta="로그인"%}
        <div class="mt-5 flex">
            <span class="text-sm">계정이 없으신가요?</span>
            <a href="{% url 'users:signup' %}" class="text-blue-400 hover:text-blue-600 font-semibold text-sm"><div>&nbsp;회원가입</div></a>
        </div>

    </div>  
    
{% endblock content %}