{% extends "base.html" %}


{%block page_title%}
    프로필 편집

{%endblock page_title%}

{% block search-bar %}
    <div class="font-semibold text-sm">프로필 편집</div>
{% endblock search-bar %}

{%block content%}
<div class="mx-auto flex flex-col items-center overflow-auto mobile:mb-10">
    <div class="mt-4 w-600px mobile:w-full mx-auto flex flex-col items-center justify-center border rounded-md p-6 pb-10 bg-white border-gray-400 mobile:border-none">
        {% include "mixins/user/user_form.html" with form=form cta="Update profile" %}
        
    </div>
</div>
{%endblock content%}