<form method="POST"  class="w-full" enctype="multipart/form-data"> <!--enctype 이걸 써야 프로필에서 사진 변경할 때 변경이 됨.-->
    {% csrf_token %} <!--다른 브라우저에서 내 브라우저 접근을 막는거라고 생각하면 됨. -->
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span>
        {% endfor %}
    {% endif %}
    
    <div class="mb-10 text-center flex flex-col items-center" style="color:#1a202c;">
        <a class="bg-center" href="{% url "core:studio_home" %}">
            <p class="mt-5 mb-5 font-bold" style="color: #FE82B1; font-size:1.7rem;">POSELY</p>
        </a>
        <p class="mb-1" style=" font-weight:500">반려동물의</p>
        <p style="font-weight:500">사랑스러운 순간</p>
    </div>
    
    {% for field in form %}
        {% include "mixins/auth/form_input.html" with field=field %}
    {% endfor %}
    
    <button style="background-color: #FE82B1; font-size:0.9rem; font-weight:500;" class="focus:outline-none h-10 rounded-md text-white w-full my-2">{{cta}}</button>

</form>