{% extends 'base.html' %}


{% block page_title %}
    Search
{% endblock page_title %}


{% block content %}

<div class="container mx-auto flex flex-col items-center overflow-auto">
    
    {% if empty_search %}
    <div class="pt-56 flex flex-col justify-center items-center">
        <div class="text-gray-800 text-22px font-semibold">요청하신 검색 결과가 없습니다.</div>
        <div class="mt-2 text-red-500 text-15px">정확한 사진관 이름, 지역을 적어주세요.</div>
    </div>

    {% elif studios %}
    <div class="w-600px small:w-full">
        <div class ="book-list card ">
            {% for studio in studios %}
                {%include "mixins/studio/studio_card.html" with studio=studio check_exist=check_exist%}
            {% endfor %}
            {% if page_obj.has_next %}
                <p class="pagination">
                    <a class="next-page" href="?page={{ page_obj.next_page_number }}">다음으로</a>
                </p>
            {% endif %}
        
        </div>
    </div>
    {% endif %}
</div> 


<!-- ajax jqeury 통신 -->
<script type="text/javascript">
    var like_press = function () { // .like 버튼을 클릭 감지
            var pk = $(this).attr('name')
            $.ajax({ // ajax로 서버와 통신
                type: "POST", // 데이터를 전송하는 방법
                url: "{% url 'studios:studio_like' %}", // 통신할 url을 지정
                data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션, pk를 넘겨야 어떤 studio인지 알 수 있음
                dataType: "json",
                success: function (response) { // 성공
                    //alert(response.message); //이 부분을 지우면 메세지 안뜹니다. 
                    $("#count-" + pk).html("좋아요&nbsp;" + response.likes_count + "개"); // 좋아요 개수 변경
                    if (response.message == "좋아요")         
                    {
                        $("#check-" + pk).attr("class", "fas fa-heart fa-3x")
                    } 
                    else if (response.message == "좋아요 취소")
                    {
                       $("#check-" + pk).attr("class", "far fa-heart fa-3x")
                    }
                },
                error: function (request, status, error) { //로그인 x 경우 
                    alert("로그인이 필요합니다.")
                    window.location.href = "/users/login" // 로그인 페이지로 넘어가기
                },
            });
        }
    $(document).on("click",".like",like_press)    
    $(document).on("dblclick",".img_like",like_press)    
</script>

{% endblock content %}