{% extends "base.html" %}

{% block page_title %}
    Studio
{% endblock page_title %}


{% block content %}
    <div class="mx-auto flex flex-col items-center overflow-auto mobile:mb-10">
        <div class="mt-4 w-600px small:w-full border-b">                
            <div class=" px-10 pb-8 mobile:px-4 mobile:pb-4">
                <div class="flex items-center ">
                    <div class="my-3">
                        {% include 'mixins/studio/studio-profile_avatar.html'%}
                    </div>
                    <div class="ml-8 mobile:ml-4 flex flex-col">
                        <div class="text-28px mobile:text-20px font-thin text-gray-700">
                            {{studio}}
                        </div>
                        <div class="text-blue-500 text-xs mb-3 mobile:mb-1">
                            <i class="fas fa-map-marker-alt"></i> {{studio.addr_short}} {{studio.addr_detail}}
                        </div> 
                        <div class="flex">
                            <a href="{% url 'studios:concept-select' studio.pk %}" class="border rounded-md text-center text-white py-1 px-14 mr-2 bg-blue-500 mobile:text-sm mobile:py-0.5">
                                예약하기
                            </a>
                        </div>

                    </div>
                </div>

                <div class="my-2 mb-6">  
                    <div class="text-sm">
                        {{studio.introduction | linebreaksbr}}
                    </div>    
                </div>
                
                {%if studio.author == user %}
                <a href="{%url "studios:edit" studio.pk%}">
                    <div class="border border-gray-400 rounded-md text-center font-semibold py-1 px-10 mobile:text-sm">
                        스튜디오 편집
                    </div>
                </a>    
                {%endif%}

            </div>

        </div>

        <div class="w-600px small:w-full flex justify-center px-8 mobile:px-2"> 
            <div class="px-3 mt-6 mobile:mt-4 w-full small:w-full rounded-lg">

                {% for concept in studio.concepts.all %}
                    
                    {% if concept.first_photo  %}
                        {%include "mixins/concept/concept_card.html" with concept=concept %}
                        <div class="mb-12 mobile:mb-6"></div>
                    {% endif %}
                {% endfor %}
    
            </div>
        </div>
    </div>
        
    
{% endblock content %}