{% extends "base.html" %}

{% block page_title %}
    Studio
{% endblock page_title %}


{% block content %}
    <div class="mx-auto flex flex-col items-center overflow-auto mobile:mb-10">
        <div class="mt-4 w-600px small:w-full border-b">                
            <div class=" px-10 pb-8">
                <div class="flex items-center ">
                    <div class="my-3">
                        {% include 'mixins/studio/studio-profile_avatar.html'%}
                    </div>
                    <div class="ml-8 flex flex-col">
                        <div class="text-28px font-thin text-gray-700 mb-1">
                            {{studio}}
                        </div>
                        <div class="flex">
                            <a href="{% url 'studios:concept-select' studio.pk %}" class="border rounded-md text-center text-white py-1 px-14 mr-2 bg-blue-500">
                                예약하기
                            </a>
                        </div>

                    </div>
                </div>

                <div class="my-2">
                    <div class="">
                        {{studio.introduction | linebreaksbr}}
                    </div>    
                </div>
                
                {%if studio.author == user %}
                <a href="{%url "studios:edit" studio.pk%}">
                    <div class="border border-gray-400 rounded-md text-center font-semibold py-1 px-10 mt-6">
                        스튜디오 편집
                    </div>
                </a>    
                {%endif%}

            </div>

        </div>

        <div class="w-600px small:w-full flex justify-center px-10"> 
            <div class="px-3 mt-6 w-full small:w-full mobile:bg-white rounded-lg bg-gray-100 small:border-none small:bg-gray-100 ">

                {% for concept in studio.concepts.all %}
                    
                    {% if concept.first_photo  %}
                        {%include "mixins/concept/concept_card.html" with concept=concept %}
                        <div class="mb-12"></div>
                    {% endif %}
                {% endfor %}
    
            </div>
        </div>
    </div>
        
    <div>
        <div id="current">현재위치</div>
        <div id="map" style="width:100%; height:50vh; "></div>
    </div>
<style>
  .marker {
  border: 1px solid black;
  background: green;
  opacity: 0.8;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
#current{
  position: absolute;
  top:180px;
  z-index: 10000;
  background:white;
  left:20px;
  padding : 15px;
  border : 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}
.pulse{
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(255,0,0);
  animation : pulse 1.7s infinite;
}
</style>
    
<script>
    var mapOptions = {
      center: new naver.maps.LatLng(37.3595704, 127.105399),
      zoom: 10
    };
    
    var map = new naver.maps.Map('map', mapOptions);

    var latlng = new naver.maps.LatLng({{studio.studio_lat}},{{studio.studio_lng}}); 
    marker = new naver.maps.Marker({ 
      map : map,
      position : latlng,
      icon : {
        content : "<div class ='marker'></div>",
        anchor : new naver.maps.Point(12,12), //marker width: 24px; height: 24px라 
      },  
    });
    map.setZoom(14,false); // lv,14 animation X
    map.panTo(latlng); //이동
    //계속된 현재위치 클릭방지
    let currentUse = true;
    $("#current").click(()=>{
    if('geolocation' in navigator){
      navigator.geolocation.getCurrentPosition(function(position){ //position에 위도와 경도같은 정보가 담김 
        const lat = position.coords.latitude;
        const lng = position.coords.longitude;
        const latlng = new naver.maps.LatLng(lat,lng);
        if(currentUse){
          marker = new naver.maps.Marker({
            map:map,
            position: latlng,
            icon:{
              content : '<img class="pulse" draggable="false" unselectable="on" src="http://myfirstmap.s3.ap-northeast-2.amazonaws.com/circle.png" >',
              anchor : new naver.maps.Point(11,11),  //중심좌표 11,11
            }
          });
          currentUse=false;
        }
        
        map.setZoom(14,false); // lv,14 animation X
        map.panTo(latlng); //이동

      });
    }else{
      alert('위치정보 사용 불가능')
    }
  })
</script>
{% endblock content %}